.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: transparent;
    padding: 30px 0;
    width: 100%;

    

    .header-inner {
        display: flex;
        align-items: center;

        .header-logo {
            width: 20%;

            a {
                font-family: "Poppins";
                font-weight: 700;
                font-size: 28px;
                text-transform: uppercase;
                color: #fff;
            }
        }

        .header-menu {
            width: 60%;

            nav {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;

                a {
                    font-family: "Poppins";
                    font-weight: 700;
                    font-size: 16px;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        .header-actions {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}