.hero-section {
    height: 800px;
    position: relative;

    .hero-bg {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
    }

    .hero-content {
        position: relative;
        display: flex;
        align-items: center;

        .hero-content-text {
            width: 40%;
            h3 {
                font-family: "Poppins";
                font-weight: 700;
                font-size: 28px;
                color: #fff;
            }

            h1 {
                font-family: "Poppins";
                font-size: 64px;
                font-weight: 700;
                color: #fff;
            }

            button {
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                background: #FFAF68;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
            }
        }

        .hero-content-image {
            width: 60%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}